* {
  box-sizing: border-box; }
  
 
/* webkit, opera, IE9 */
::selection { background:#60b17c; color:#fff;}
/* mozilla firefox */
::-moz-selection { background:#60b17c;; color:#fff;} 
  
body {
  padding: 0px;
  margin: 0px;
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "黑体";*/
  font-family:"Open Sans", "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000; 
  overflow-x:hidden;}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
	color:#000;
    text-decoration: none; }

.c{
	overflow:hidden;
}