/** CSS style for website */
body {
    font-family: Arial, "微软雅黑" !important;
}

a {
    color: #000 !important;
}

a:focus {
    color: #000 !important;
}

a:active {
    color: #00 !important;
}

.page-wrapper a {
    color: #a10000 !important;
}

.page-wrapper a:focus {
    color: #a10000 !important;
}

.page-wrapper a:active {
    color: #a10000 !important;
}

.page-wrapper .footer-modification {
    color: #a10000 !important;
}


