/** CSS style for website */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "微软雅黑" !important;
}

.book.font-family-0 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "微软雅黑" !important;
}

.book.font-family-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "微软雅黑" !important;
}

a {
    color: #000 !important;
    outline: none !important;
}

a:focus {
    color: #000 !important;
}

a:active {
    color: #000 !important;
}

pre {
    border-radius: 4px !important;
    background-color: rgba(230, 230, 230, 0.6) !important;
}

.page-inner {
    padding: 50px 15px 40px 15px !important;
}

.page-wrapper a,
a.navigation,
.thread-likes > a {
    color: #a10000 !important;
}

.page-wrapper a:focus,
a.navigation:focus,
.thread-likes > a:focus  {
    color: #a10000 !important;
}

.page-wrapper a:active,
a.navigation:active,
.thread-likes > a:active {
    color: #a10000 !important;
}

.page-wrapper .footer-modification {
    color: #a10000 !important;
}

.book .book-summary ul.summary {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.book .book-summary ul.summary li a,
a.navigation,
.thread-likes > a {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.book .book-summary ul.summary li {
    position: relative;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.book .book-summary ul.summary li ul {
    padding: 10px !important;
}

.book .book-summary ul.summary li:hover {
    background-color: rgba(255, 255, 255, 0.45);
}

.book .book-summary ul.summary li:hover::before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid #bbb;
    position: absolute;
    border-bottom: transparent 5px solid;
    border-right: transparent 5px solid;
    left: 0;
    top: 0;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #a10000 !important;
}


/** book search */
/** engine 3.0.3 */
#book-search-input {
    margin-bottom: 0 !important;
    position: fixed;
    width: 25%;
    top: 0;
    font-size: 16px;
    background-color: #a10000;
    color: #000;
}

#book-search-input::after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid #000;
    position: absolute;
    border-bottom: transparent 6px solid;
    border-left: transparent 6px solid;
    right: 0;
    top: -1px;
}

#book-search-input::before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid #000;
    position: absolute;
    border-top: transparent 6px solid;
    border-right: transparent 6px solid;
    left: -1px;
    bottom: -1px;
}

#book-search-input input {
    padding: 7px 14px !important;
    background: transparent !important;
}

#book-search-input input::-webkit-input-placeholder {
    color: #000 !important;
}

#book-search-input input:-moz-placeholder {
    color: #000 !important;
}

#book-search-input input::-moz-placeholder {
    color: #000 !important;
}

#book-search-input input:-ms-input-placeholder {
    color: #000 !important;
}

/** menu scroll bar */
.book .book-summary::-webkit-scrollbar {
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
    /** engine 3.0.3 */
    background-color: rgba(255, 255, 255, 0.2);
}

.book .book-summary::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

.book .book-summary::-webkit-scrollbar-track {
    /** Part 3 */
}

.book .book-summary::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

.book .book-summary::-webkit-scrollbar-thumb {
    /** Part 5 */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.book .book-summary::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 0, 0, 1);
}

.book .book-summary::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 0, 0, 1);
}

.book .book-summary::-webkit-scrollbar-corner {
    /** Part 6 */
}

.book .book-summary::-webkit-resizer {
    /** Part 7 */
}

/** code scroll bar */
pre::-webkit-scrollbar {
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
}

pre::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

pre::-webkit-scrollbar-track {
    /** Part 3 */
}

pre::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

pre::-webkit-scrollbar-thumb {
    /** Part 5 */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

pre::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 0, 0, 1);
}

pre::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 0, 0, 1);
}

pre::-webkit-scrollbar-corner {
    /** Part 6 */
}

pre::-webkit-resizer {
    /** Part 7 */
}

/** demo scroll bar */
#output pre, #output iframe::-webkit-scrollbar {
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
}

#output pre, #output iframe::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

#output pre, #output iframe::-webkit-scrollbar-track {
    /** Part 3 */
}

#output pre, #output iframe::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

#output pre, #output iframe::-webkit-scrollbar-thumb {
    /** Part 5 */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

#output pre, #output iframe::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 0, 0, 1);
}

#output pre, #output iframe::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 0, 0, 1);
}

#output pre, #output iframe::-webkit-scrollbar-corner {
    /** Part 6 */
}

#output pre, #output iframe::-webkit-resizer {
    /** Part 7 */
}

/**
 * book summary
 */
.book .book-summary {
    background-image: url(https://raw.githubusercontent.com/aleen42/PersonalWiki/master/pic/summary-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none !important;
    box-shadow: -8px 6px 18px #000 inset;
    left: -25%;
    margin-top: 52px;
    width: 25%;
}

/**
 * overlay animation
 */
#particles-js {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 98%;
    opacity: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#overlay-icon {
    background-image: url(http://aleen42.gitbooks.io/personalwiki/content/pic/icon-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: -25px;
    cursor: pointer;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#overlay-icon:hover {
    left: -11px;
}

/** body scroll bar */
.book .book-body {
    background-color: transparent !important;
}

.book .book-body .page-wrapper .page-inner section {
    background-color: transparent !important;
}

.book .book-body .body-inner::-webkit-scrollbar {
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
}

.book .book-body .body-inner::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

.book .book-body .body-inner::-webkit-scrollbar-track {
    /** Part 3 */
}

.book .book-body .body-inner::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

.book .book-body .body-inner::-webkit-scrollbar-thumb {
    /** Part 5 */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.book .book-body .body-inner::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 0, 0, 1);
}

.book .book-body .body-inner::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 0, 0, 1);
}

.book .book-body .body-inner::-webkit-scrollbar-corner {
    /** Part 6 */
}

.book .book-body .body-inner::-webkit-resizer {
    /** Part 7 */
}

/** iframe */
iframe {
    border: none;
}

iframe::-webkit-scrollbar {
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
}

iframe::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

iframe::-webkit-scrollbar-track {
    /** Part 3 */
}

iframe::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

iframe::-webkit-scrollbar-thumb {
    /** Part 5 */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

iframe::-webkit-scrollbar-thumb:hover {
    background-color: rgba(161, 0, 0, 1);
}

iframe::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 0, 0, 1);
}

iframe::-webkit-scrollbar-corner {
    /** Part 6 */
}

iframe::-webkit-resizer {
    /** Part 7 */
}

/** book header */
.book.with-summary .book-header {
    width: 75%;
}

.book-header {
    position: fixed;
    background-color: rgba(255,255,255,0.7);
    top: 0;
    left: 0;
    width: 100%;
    transition: width 250ms ease;
    z-index: 999 !important;
}

.book-body h1,
.book-body h2 {
    font-weight: 600 !important;
}

.book-body h3,
.book-body h4 {
    font-weight: 500 !important;
}

.book-body h2 {
    padding: 30px 0 !important;
}

.book-body h3,
.book-body h4 {
    padding: 20px 0 !important;
}

.book-body h5,
.book-body h6 {
    padding: 10px 0 !important;
}

.book-body h1 {
    opacity: 1 !important;
}

/** headers */
.book-body h2::after,
.book-body h3::after,
.book-body h4::after,
.book-body h5::after {
    content: "";
    display: block;
    border-bottom: 1px #ccc solid;
    height: 1px;
    opacity: 0.4;
}

.book-body h2::after {
    width: 100%;
}

.book-body h3::after {
    width: 70%;
}

.book-body h4::after {
    width: 50%;
}

.book-body h5::after {
    width: 25%;
}

.page-wrapper {
    margin-top: 50px !important;
}

.book-header a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "微软雅黑" !important;
}

@media (max-width: 1240px) {
    .book .book-body {
        margin: 0 !important;
    }

    #book-search-input {
        margin-top: 0 !important;
    }
}

@media (max-width: 480px) {
    #book-search-input {
        width: 80%;
    }

    .book .book-summary {
        left: -80%;
        width: 80%;
    }

    .book.with-summary .book-body {
        -webkit-transform: translateX(calc(400% + 2px));
        -moz-transform: translateX(calc(400% + 2px));
        -ms-transform: translateX(calc(400% + 2px));
        -o-transform: translateX(calc(400% + 2px));
        transform: translateX(calc(400% + 2px));
        width: 20%;
    }

    .book.with-summary .book-header {
        width: 100%;
        text-align: center;
    }

    .book.with-summary .js-toolbar-action {
        width: 100% !important;
        font-size: 1.6em !important;
    }

    .book.with-summary .book-header .btn {
        padding: 20px 15px !important;
    }

    .book.with-summary .page-wrapper,
    .book.with-summary a.navigation {
        display: none;
    }

    .book.with-summary .book-body .body-inner {
        position: relative;
    }
}

@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 25%;
    }
}

/** ace scroll bar */
.ace_scrollbar-h::-webkit-scrollbar,
.ace_scrollbar-v::-webkit-scrollbar{
    /** if you want to style your own scroll bar, this pseudo should be written */
    /** Part 1 */
    width: 6px;
    height: 6px;
}

.ace_scrollbar-h::-webkit-scrollbar-button,
.ace_scrollbar-v::-webkit-scrollbar-button {
    /** Part 2 */
    display: none;
}

.ace_scrollbar-h::-webkit-scrollbar-track,
.ace_scrollbar-v::-webkit-scrollbar-track {
    /** Part 3 */
}

.ace_scrollbar-h::-webkit-scrollbar-track-piece,
.ace_scrollbar-v::-webkit-scrollbar-track-piece {
    /** Part 4 */
}

@media (min-width: 720px) {
    .ace_scrollbar-h::-webkit-scrollbar-thumb,
    .ace_scrollbar-v::-webkit-scrollbar-thumb {
        /** Part 5 */
        background-color: rgba(0, 0, 0, 1);
        border-radius: 10px;
    }

    .ace_scrollbar-h::-webkit-scrollbar-thumb:hover,
    .ace_scrollbar-v::-webkit-scrollbar-thumb:hover {
        background-color: rgba(161, 0, 0, 1);
    }

    .ace_scrollbar-h::-webkit-scrollbar-thumb:active,
    .ace_scrollbar-v::-webkit-scrollbar-thumb:active {
        background-color: rgba(100, 0, 0, 1);
    }
}

@media (max-width: 720px) {
    .ace_scrollbar-h::-webkit-scrollbar-thumb,
    .ace_scrollbar-v::-webkit-scrollbar-thumb {
        /** Part 5 */
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .ace_scrollbar-h::-webkit-scrollbar-thumb:hover,
    .ace_scrollbar-v::-webkit-scrollbar-thumb:hover {
        background-color: rgba(161, 0, 0, 0.2);
    }

    .ace_scrollbar-h::-webkit-scrollbar-thumb:active,
    .ace_scrollbar-v::-webkit-scrollbar-thumb:active {
        background-color: rgba(100, 0, 0, 0.2);
    }
}

.ace_scrollbar-h::-webkit-scrollbar-corner,
.ace_scrollbar-v::-webkit-scrollbar-corner {
    /** Part 6 */
}

.ace_scrollbar-h::-webkit-resizer,
.ace_scrollbar-v::-webkit-resizer {
    /** Part 7 */
}

.ace_gutter {
    box-shadow: -4px 0 13px 7px rgba(0, 0, 0, 0.2) !important;
}

.ace_scroller.ace_scroll-left {
    box-shadow: none !important;
}

.ace {
    border: 1px solid #EBEBEB !important;
    margin: 2em 0 !important;
}

/** mathjax */
p.comments-section:first-child + span.mjx-chtml {
    width: 100% !important;
    text-align: center !important;
    margin: 44px 0 !important;
}

blockquote {
    color: #999 !important;
    border-left: 2px solid #a10000 !important;
}
