/** CSS style for website */
body {
    font-family: Arial, "微软雅黑" !important;
}

a {
    color: #000 !important;
}

a:focus {
    color: #000 !important;
}

a:active {
    color: #000 !important;
}

.page-wrapper a {
    color: #a10000 !important;
}

.page-wrapper a:focus {
    color: #a10000 !important;
}

.page-wrapper a:active {
    color: #a10000 !important;
}

.page-wrapper .footer-modification {
    color: #a10000 !important;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #a10000 !important;
    font-weight: bold;
}

/** Webkit */
.book .book-summary ul.summary::-webkit-scrollbar {
  /** if you want to style your own scroll bar, this pseudo should be written */
  /** Part 1 */
  width: 6px;
}

.book .book-summary ul.summary::-webkit-scrollbar-button {
  /** Part 2 */
  display: none;
}

.book .book-summary ul.summary::-webkit-scrollbar-track {
  /** Part 3 */
}

.book .book-summary ul.summary::-webkit-scrollbar-track-piece {
  /** Part 4 */
}

.book .book-summary ul.summary::-webkit-scrollbar-thumb {
  /** Part 5 */
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.book .book-summary ul.summary::-webkit-scrollbar-corner {
  /** Part 6 */
}

.book .book-summary ul.summary::-webkit-resizer {
  /** Part 7 */
}

